@import 'Theme';

@media only screen and (max-width:600px){
    .section__1{
        height: 100vh;
        border: 2px solid $c3;
        .s1__title{
            // color: black;
            font-size: 5vh;
            font-family: Karelia;
        }
    }
    .section__2{
        border: 2px solid $c3;
        padding: 10%;
        height: 100vh !important;
    }
    #s2__overview{
        margin-top: 50%;
        font-family: Kalice;
        height: 100vh;
        color: $c3;
        font-size: 15px;
        text-align: left;
        padding: 10%;
        #s2__note{
            font-size: 60%;
            margin-top: 5%;
            margin-left:0%;
        }
    }
    #s2b__overview{
        margin-top: 50%;
        font-family: Kalice;
        height: 100vh;
        color: $c3;
        font-size: 15px;
        text-align: left;
        padding: 10%;
    }
    #s2c__overview{
        margin-top: 10%;
        font-family: Kalice;
        height: 100vh;
        color: $c3;
        font-size: 13px;
        text-align: left;
        padding: 10%;
    }

    .section__5{
        padding: 10%;
        background-color: $c3;
        height: 100vh !important;
        color: $c6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Karelia;
        #e1{
            font-size: 2em;
        }
        #e2{
            background-color: $c6;
            color: $c3;
            margin-top: -5%;
            font-size: 6em;
        }
        #e3{
            width: 100%;
            margin-top: -15%;
            padding: 10px;
            font-size: 3vh;
        }
    }
}

@media only screen and (min-width: 600px){

    .section__1{
        border: 4px solid $c3;
        font-size:calc(100vw / 30);
        height: 100vh;
        text-align: center;
        font-family: Karelia;
    }
      
    .section__2{
        border: 4px solid $c3;
        height: 100vh !important;
        padding: 5%;
        
        text-align: center;
        font-size:calc(100vw / 40);
        h2{
            padding: 10%;
            font-family: Karelia;
            margin-top: 4em;
        }
    }
    .section__3{
        border: 4px solid $c3;
        
        height: 100vh !important;
        text-align: center;
        h2{
            padding: 10%;
            font-size:calc(100vw / 30);
            font-family: Karelia;
            margin-top: 2em;
        }
    }
    .section__4{
        border: 4px solid $c3;
        font-family: Karelia;
        padding: 10%;
        height: 100vh !important;
        h2{
            font-size:calc(100vw / 30);
            padding: 10%;
            font-family: Karelia;
            margin-top: 4em;
        }
        #s2__note{
            display: block;
            font-size: 10pt;
            text-align: center;
            margin-top: -1em;
            margin-left:-2%;
        }
    }
    
    .section__5{
        padding: 10%;
        background-color: $c3;
        height: 100vh !important;
        color: $c6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Karelia;
        #e1{
            font-size: 4em;
        }
        #e2{
            background-color: $c6;
            color: $c3;
            margin-top: -5%;
            font-size: 10em;
        }
        #e3{
            width: 100%;
            margin-top: -10%;
            padding: 10px;
            font-size:4em;
        }
    } 
}

