@import 'Theme';

@media only screen and (max-width:600px){
    .density__container{
        background-color: #D5D2CB;
        color: $c3;
        border-top: 1px solid $c3;
        display: flex;
        flex-direction: column;
        height:100vh;

        h2{ 
            margin-top: 4em;
            margin-left: 2em;
            width: 80%;
            font-size:calc(100vw / 20);
            border-left: 4px solid $c3;
            padding-left:.5em;
            // align-self: center;
        }
        #density__map{
            align-self: center;
            width:60vw;
            height: auto;
        }
    }

}



@media only screen and (min-width: 600px)and (max-width: 960px) {
    .density__container{
        background-color: #D5D2CB;
        color: $c3;
        border-top: 1px solid $c3;
        display: flex;
        flex-direction: column;
        height:100vh;

        h2{ 
            margin-top: 2em;
            margin-left: 2em;
            width: 80%;
            font-size:calc(100vw / 20);
            border-left: 4px solid $c3;
            padding-left:.5em;
            // align-self: center;
        }
        #density__map{
            align-self: center;
            width:40%;
            height: auto;
        }
    }
}

@media only screen and (min-width: 961px) and (max-width: 991px){
    .density__container{
        background-color: #D5D2CB;
        color: $c3;
        border-top: 1px solid $c3;
        display: flex;
        flex-direction: column;
        height:100vh;

        h2{ 
            margin-top: 2em;
            margin-left: 2em;
            width: 80%;
            font-size:calc(100vw / 20);
            border-left: 4px solid $c3;
            padding-left:.5em;
            // align-self: center;
        }
        #density__map{
            align-self: center;
            width:40%;
            height: auto;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px){
.density__container{
    background-color: #D5D2CB;
    color: $c3;
    border-top: 1px solid $c3;
    display: flex;
    flex-direction: row;
    height:100vh;

    h2{
        margin-left: 2em;
        width: 50%;
        font-size:calc(100vw / 40);
        border-left: 4px solid $c3;
        padding-left:.5em;
        align-self: center;
    }
    #density__map{
        align-self: center;
        width:40vw;
        height: auto;
    }
}
}

@media only screen and (min-width: 1200px) {
    .density__container{
        background-color: #D5D2CB;
        color: $c3;
        border-top: 1px solid $c3;
        display: flex;
        flex-direction: row;
        height:100vh;
    
        h2{
            margin-left: 2em;
            width: 50%;
            font-size:calc(100vw / 40);
            border-left: 4px solid $c3;
            padding-left:.5em;
            align-self: center;
        }
        #density__map{
            align-self: center;
            width:40vw;
            height: auto;
        }
    }
}