@import 'Theme';

@media screen and (min-width: 300px){ 
    .method__container{
        height: auto;
        background-color: $bg;
        border-top: 1px solid $c3;
        color: $c3;

        display:flex;
        flex-direction: column;

        #prattlogo{
            width: 15%;
        }
        #cnyclogo{
            width:50%
        }

        .m1{
            padding:1em;
            .m1__child{
                h1{
                    overflow: hidden;
                }
                span{
                    font-size: 18pt;
                }
                span:after{
                    content: "";
                    display: inline-block;
                    height: 0.5em;
                    vertical-align: bottom;
                    width: 70%  ;
                    margin-right: -100%;
                    margin-left: 10px;
                    border-top: 2px solid $c3;
    
                }
            }
        }

        .m2{
            text-align: center;
            padding: 1em;
            display: flex;
            justify-content: center;
            p{
                width: 70%;
                font-size: 1em;
                font-family: Helvetica, sans-serif;
                line-height: 1.4em;
             }
        }


        .m3__wrapper{
            display: flex;
            justify-content: center;
            
        }
        .m3{
            border: 1px solid $c3;
            border-radius: 25px;
            padding: 1em;
            background-color: $c3;
            color: $bg;
            width: 65%;
            #notes__title{
                font-size: 1em;
                display: inline;
                border-bottom: 2px solid $bg;
                padding-bottom: 2px;
                color: $c7;
            }
            .m3__child{
                display: inline-block;
                font-size: .7em;
                font-family: Helvetica, sans-serif;
                line-height: 1.6em;
            }
        }

        .m4__wrapper{
            display: flex;
            justify-content: center;
            margin-bottom: 2em;
            .m4{
                width: 50%;
                margin-top: 1em;
    
                p{
                    font-size: .9em;
                    font-family: Helvetica, sans-serif;
                    padding-left: .5em;
                }
                img{
                    margin-left: 1em;
                    color: $c3;
                }
            }
        }

    }
}

@media screen and (min-width: 768px){
    .method__container{
        height: auto;
        background-color: $bg;
        border-top: 1px solid $c3;
        color: $c3;

        display:flex;
        flex-direction: column;

        #prattlogo{
            width: 15%;
        }
        #cnyclogo{
            width:50%
        }

        .m1{
            padding:1em;
            .m1__child{
                margin-left: 2em;
                h1{
                    overflow: hidden;
                }
                span{
                    font-size: 2em;
                }
                span:after{
                    content: "";
                    display: inline-block;
                    height: 0.5em;
                    vertical-align: bottom;
                    width: 70%  ;
                    margin-right: -100%;
                    margin-left: 10px;
                    border-top: 2px solid $c3;
    
                }
            }
        }

        .m2{
            text-align: center;
            padding: 1em;
            display: flex;
            justify-content: center;
            p{
                width: 70%;
                font-size: 1.6em;
                font-family: Helvetica, sans-serif;
                line-height: 1.4em;
             }
        }


        .m3__wrapper{
            display: flex;
            justify-content: center;
        }
        .m3{
            display: flex;
            flex-direction: column;
            border: 1px solid $c3;
            border-radius: 25px;
            padding: 1em;
            background-color: $c3;
            color: $bg;
            width: 30%;
            #notes__title{
                width: 14%;
                font-size: 1.3em;
                display: inline-block;
                border-bottom: 2px solid $bg;
                padding-bottom: 2px;
                color: $c7;
            }
            .m3__child{
                margin-top: -.2em;
                display: inline-block;
                font-size: .8em;
                font-family: Helvetica, sans-serif;
                line-height: 1.6em;
            }
        }

        .m4__wrapper{
            display: flex;
            flex-grow: 1;
            justify-content: center;
            margin-bottom: 2em;
            .m4{
                align-self: flex-end;
                width: 30%;
                margin-top: 1em;
    
                p{
                    font-size: .9em;
                    font-family: Helvetica, sans-serif;
                    padding-left: .5em;
                }
                img{
                    margin-left: 1em;
                    color: $c3;
                }
            }
        }

    }

}

@media screen and (min-width:992px) {
    .method__container{
        height: auto;
        background-color: $bg;
        border-top: 1px solid $c3;
        color: $c3;

        display:flex;
        flex-direction: column;

        #prattlogo{
            width: 15%;
        }
        #cnyclogo{
            width:50%
        }

        .m1{
            padding:1em;
            .m1__child{
                margin-left: 2em;
                h1{
                    overflow: hidden;
                }
                span{
                    font-size: 2em;
                }
                span:after{
                    content: "";
                    display: inline-block;
                    height: 0.5em;
                    vertical-align: bottom;
                    width: 80%  ;
                    margin-right: -100%;
                    margin-left: 10px;
                    border-top: 2px solid $c3;
    
                }
            }
        }

        .m2{
            text-align: center;
            padding: 1em;
            display: flex;
            justify-content: center;
            p{
                width: 70%;
                font-size: 1.6em;
                font-family: Helvetica, sans-serif;
                line-height: 1.4em;
             }
        }


        .m3__wrapper{
            display: flex;
            justify-content: center;
        }
        .m3{
            display: flex;
            flex-direction: column;
            border: 1px solid $c3;
            border-radius: 25px;
            padding: 1em;
            background-color: $c3;
            color: $bg;
            width: 30%;
            #notes__title{
                width: 14%;
                font-size: 1.3em;
                display: inline-block;
                border-bottom: 2px solid $bg;
                padding-bottom: 2px;
                color: $c7;
            }
            .m3__child{
                margin-top: -.2em;
                display: inline-block;
                font-size: .8em;
                font-family: Helvetica, sans-serif;
                line-height: 1.6em;
            }
        }

        .m4__wrapper{
            display: flex;
            flex-grow: 1;
            justify-content: center;
            margin-bottom: 2em;
            .m4{
                align-self: flex-end;
                width: 30%;
                margin-top: 1em;
    
                p{
                    font-size: .9em;
                    font-family: Helvetica, sans-serif;
                    padding-left: .5em;
                }
                img{
                    margin-left: 1em;
                    color: $c3;
                }
            }
        }

    }
}

@media screen and (min-width: 1200px) {
    .method__container{
        height: auto;
        background-color: $bg;
        border-top: 1px solid $c3;
        color: $c3;

        display:flex;
        flex-direction: column;

        #prattlogo{
            width: 15%;
        }
        #cnyclogo{
            width:50%
        }

        .m1{
            padding:1em;
            .m1__child{
                margin-left: 2em;
                h1{
                    overflow: hidden;
                }
                span{
                    font-size: 2em;
                }
                span:after{
                    content: "";
                    display: inline-block;
                    height: 0.5em;
                    vertical-align: bottom;
                    width: 80%  ;
                    margin-right: -100%;
                    margin-left: 10px;
                    border-top: 2px solid $c3;
    
                }
            }
        }

        .m2{
            text-align: center;
            padding: 1em;
            display: flex;
            justify-content: center;
            p{
                width: 70%;
                font-size: 1.6em;
                font-family: Helvetica, sans-serif;
                line-height: 1.4em;
             }
        }


        .m3__wrapper{
            display: flex;
            justify-content: center;
        }
        .m3{
            display: flex;
            flex-direction: column;
            border: 1px solid $c3;
            border-radius: 25px;
            padding: 1em;
            background-color: $c3;
            color: $bg;
            width: 30%;
            #notes__title{
                width: 14%;
                font-size: 1.3em;
                display: inline-block;
                border-bottom: 2px solid $bg;
                padding-bottom: 2px;
                color: $c7;
            }
            .m3__child{
                margin-top: -.2em;
                display: inline-block;
                font-size: .8em;
                font-family: Helvetica, sans-serif;
                line-height: 1.6em;
            }
        }

        .m4__wrapper{
            display: flex;
            flex-grow: 1;
            justify-content: center;
            margin-bottom: 2em;
            
            .m4{
                align-self: flex-end;
                width: 30%;
                margin-top: 1em;
    
                p{
                    font-size: .9em;
                    font-family: Helvetica, sans-serif;
                    padding-left: .5em;
                }
                img{
                    margin-left: 1em;
                    color: $c3;
                }
            }
        }

    }
}