@import 'Theme';

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@media screen and (min-width: 300px){

    .ny__reps{
        background-color: #D5D2CB;
        height: auto;
        border-top: 1px solid $c3;
        display: flex;
        flex-direction: column;


        .nyr__1{
            // border : 3px solid red;
            width: 90%;
            padding-left: 1em;
            margin-top: 1em;
            h1{
                display: inline;
                font-size:2.5em;
                color:$c3;
            }

            #nyr__subhead{
                font-size: 1.4em;
                text-decoration: none;
                color:$c3;
                border-bottom: 3px solid $c7;
                line-height: 2em;
            }
        }
        .nyr__2{
            // border : 3px solid red;
            display:flex;
            flex-direction: column;
            width: 90%;
            margin-left: 1em;

        }
        .nyr__3{
            display: flex;
            flex-direction: column;
            align-items: center; 
            color:$c3;
            margin-top: 2em;
            .ny__reps__btns{
                display: flex;
                justify-content: center;
                
                .button{
                    border: 2px solid $c7;
                    background-color: $c3;
                    color:$bg;
                    border-radius: 25px;
                    height: 5vh;
                    width: 140px;
                    margin-left: 2%;
                
                    &:active{
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                    &:focus{
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                    &:target {
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                }

            }
            #ny__reps__note{
                font-size: .7em;
                // margin-left: -6em;
                background-color: $c3;
                color: $bg;
            }
        }
        .nyr__4{
            display: flex;
            flex-direction: column;
            .nyreps__vis__wrapper{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .img__map{
                align-self: center;
                max-width: 70%;
                width: 70%;
                height: auto;
                animation: fadeIn ease 5s;
                -webkit-animation: fadeIn ease 5s;
                -moz-animation: fadeIn ease 5s;
                -o-animation: fadeIn ease 5s;
                -ms-animation: fadeIn ease 5s;
            }
        } 
        .tooltip__container{
            font-family:  Helvetica, sans-serif;
        }


        .tooltip__container{
            font-family:  Helvetica, sans-serif;
            display: flex;
            flex-direction: column;

            .tooltip-wrapper{
                display: flex;
                flex-direction: column;


                .home-img{
                    align-self: center;
                    height: 30px;
                    width:25px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url("../imgs/house-svgrepo-com.png");


                }
                .homes-flipped-text{
                    font-size: 2em;
                    align-self: center;
                    color: $c7;
                }
                .rep-wrapper{
                    align-self: center;
                    font-size: 12px;
                    #rep_w__1{
                        font-size: 1.2em;
                        text-decoration: underline;
                        margin-bottom: 5px;   
                    }
                    #rep_w__2{
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
            } 
        }        
    }

}

@media screen and (min-width: 768px)  { 
    .ny__reps{
        border-top: 1px solid $c3;
        background-color: #D5D2CB;
        height: auto;
        display: flex;
        flex-direction: column;

        .nyr__1{
            // background-color: bisque;
            justify-items: center;
            width: 90%;
            padding-left: 1.5em;
            margin-top: 2em;
            align-self: center;

            h1{
                display: inline;
                font-size: 55px;
                color:$c3;
            }
            #nyr__subhead{
                font-size: 2em;
                text-decoration: none;
                color:$c3;
                border-bottom: 3px solid $c7;
                line-height: 2em;
            }
        }
        .nyr__2{
            // background-color: bisque;
            display:flex;
            flex-direction: column;
            width: 100%;
            margin: 0;

        }
        .nyr__3{
            display: flex;
            flex-direction: column;
            align-items: center; 
            color:$c3;
            .ny__reps__btns{
                display: flex;
                justify-content: center;
                
                .button{
                    border: 2px solid $c7;
                    background-color: $c3;
                    color:$bg;
                    border-radius: 25px;
                    height: 5vh;
                    width: 200px;
                    margin-left: 5%;
                
                    &:active{
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                    &:focus{
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                    &:target {
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                }

            }
            #ny__reps__note{
                font-size: .7em;
                background-color: $c3;
                color: $bg;
            }
        }
        .nyr__4{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 2em;
            .img__map{
                align-self: center;
                max-width: 70%;
                height: auto;
                animation: fadeIn ease 5s;
                -webkit-animation: fadeIn ease 5s;
                -moz-animation: fadeIn ease 5s;
                -o-animation: fadeIn ease 5s;
                -ms-animation: fadeIn ease 5s;
            }
            img{
                max-width: 45%;
                height: fit-content;
            }
            
            
        } 
        .tooltip__container{
            font-family:  Helvetica, sans-serif;
        }
        .tooltip__container{
            font-family:  Helvetica, sans-serif;
            display: flex;
            flex-direction: column;

            .tooltip-wrapper{
                display: flex;
                flex-direction: column;


                .home-img{
                    align-self: center;
                    height: 30px;
                    width:25px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url("../imgs/house-svgrepo-com.png");


                }
                .homes-flipped-text{
                    font-size: 2em;
                    align-self: center;
                    color: $c7;
                }
                .rep-wrapper{
                    align-self: center;
                    font-size: 12px;
                    #rep_w__1{
                        font-size: 1.2em;
                        text-decoration: underline;
                        margin-bottom: 5px;   
                    }
                    #rep_w__2{
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
            } 
        }          

    }
}

@media screen and (min-width:992px) {
    .ny__reps{
        background-color: #D5D2CB;
        height: auto;
        border-top: 1px solid $c3;
        display: flex;
        flex-direction: row;

        .nyr__1{
            width: 30%;
            padding-left: 2em;
            align-items: flex-start;
            align-self: flex-start;
            h1{
                display: inline;
                font-size: 3em;
                color:$c3;
            }

            #nyr__subhead{
                font-size: 20px;
                text-decoration: none;
                color:$c3;
                border-bottom: 3px solid $c7;
                line-height: 2em;
            }
        }
        .nyr__2{
            display:flex;
            flex-direction: column;
            width: 70%;
            margin-right: 2em;

        }
        .nyr__3{
            display: flex;
            flex-direction: column;
            align-items: center; 
            color:$c3;
            margin-top: 2em;
            .ny__reps__btns{
                display: flex;
                justify-content: center;
                
                .button{
                    border: 2px solid $c7;
                    background-color: $c3;
                    color:$bg;
                    border-radius: 25px;
                    height: 5vh;
                    width: 200px;
                    margin-left: 5%;
                
                    &:active{
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                    &:focus{
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                    &:target {
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                }

            }
            #ny__reps__note{
                font-size: .7em;
                // margin-left: -6em;
                background-color: $c3;
                color: $bg;
            }
        }
        .nyreps__vis__wrapper{
            display: flex;
            flex-direction: row;
            // justify-content: center;
            // background-color: yellow;
            .vis__area{
                // background-color: orange;
            }
            .img__map{
                // border: 3px solid red;
                max-width: 30%;
                height: fit-content;
                margin-left: 10%;
            }
        } 

        .tooltip__container{
            font-family:  Helvetica, sans-serif;
            display: flex;
            flex-direction: column;
            .tooltip-wrapper{
                display: flex;
                flex-direction: column;
                // background: yellow;
                .home-img{
                    align-self: center;
                    height: 30px;
                    width:25px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url("../imgs/house-svgrepo-com.png");
                }
                .homes-flipped-text{
                    font-size: 2em;
                    align-self: center;
                    color: $c7;
                }
                .rep-wrapper{
                    align-self: center;
                    font-size: 12px;
                    #rep_w__1{
                        font-size: 1.2em;
                        text-decoration: underline;
                        margin-bottom: 5px;   
                    }
                    #rep_w__2{
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
            } 
        }

    }
}

@media screen and (min-width: 1200px) {
    .ny__reps{
        height: 115vh;
        border-top: 1px solid $c3;
        display: flex;
        flex-direction: row;
        .nyr__1{
            width: 30%;
            padding-left: 2em;
            margin-top: 2em;
            h1{
                display: inline;
                font-size: 55px;
                color:$c3;
            }

            #nyr__subhead{
                font-size: 20px;
                text-decoration: none;
                color:$c3;
                border-bottom: 3px solid $c7;
                line-height: 2em;
            }
        }
        .nyr__2{
            display:flex;
            flex-direction: column;
            width: 70%;
            margin-right: 2em;

        }
        .nyr__3{
            display: flex;
            flex-direction: column;
            align-items: center; 
            color:$c3;
            margin-top: 3em;
            .ny__reps__btns{
                display: flex;
                justify-content: center;
                .button{
                    border: 2px solid $c7;
                    background-color: $c3;
                    color:$bg;
                    border-radius: 25px;
                    height: 5vh;
                    width: 200px;
                    margin-left: 5%;
                    &:active{
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                    &:focus{
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                    &:target {
                        background-color: $bg;
                        color: $c3;
                        filter: drop-shadow(0 0 0.45rem crimson);
                    }
                }
            }
            #ny__reps__note{
                font-size: .7em;
                background-color: $c3;
                color: $bg;
            }
        }
        .nyreps__vis__wrapper{
            display: flex;
            flex-direction: row;

        } 

        .tooltip__container{
            font-family:  Helvetica, sans-serif;
            display: flex;
            flex-direction: column;

            .tooltip-wrapper{
                display: flex;
                flex-direction: column;


                .home-img{
                    align-self: center;
                    height: 30px;
                    width:25px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url("../imgs/house-svgrepo-com.png");


                }
                .homes-flipped-text{
                    font-size: 2em;
                    align-self: center;
                    color: $c7;
                }
                .rep-wrapper{
                    align-self: center;
                    font-size: 12px;
                    #rep_w__1{
                        font-size: 1.2em;
                        text-decoration: underline;
                        margin-bottom: 5px;   
                    }
                    #rep_w__2{
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
            } 
        }
    }
}