@import './Theme.scss';

@media screen and (min-width: 300px){
    .title__container{
        height:100vh;
        display: flex;
        flex-direction: column;
        color: $bg;
        justify-content: center;

        .t__wrapper{
            padding:1em;
            h1{
                font-size: 1.8em;
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .title__container {
        background-color: $c3;
        // background-color: bisque;
        height:100vh;
        display: flex;
        flex-direction: column;
        color: $bg;
        align-items: center;
        justify-content: center;

        .t__wrapper{
            margin-top:4em;
            width: 90%;
            h1{
                font-size: 2em;
                text-align: center;
            }
        }
    }
}


@media screen and (min-width:992px) {
.title__container {
    background-color: $c3;
    height:100vh;
    display: flex;
    flex-direction: column;
    color: $bg;
    align-items: center;
    justify-content: center;
    .t__wrapper{
        margin-top:4em;
        width: 70%;
        h1{
            font-size: 2.8em;
            text-align: center;
        }
    }
}
}


@media only screen and (min-width: 1200px){
    .title__container {
        background-color: $c3;
        height:100vh;
        display: flex;
        flex-direction: column;
        color: $bg;
        align-items: center;
        justify-content: center;
        .t__wrapper{
            margin-top:4em;
            width: 70%;
            h1{
                font-size: 3.5em;
                text-align: center;
            }
        }
    }
}