@import './styles/Theme';

body{
    background-color: white;
     color: $c3;
    font-family: Helvetica;
}

// Selection Color
::selection {
    background: white; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: white; /* Gecko Browsers */
  }

::-webkit-scrollbar-thumb{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    height: 10px;
}